/*****************FONTS*********************/
$calibri: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;

/*******************************COLORS*****************/
$green: #868a84;
$gray: #3a4433;
$bright-green: #4a9d00;
$orange: #ff6c00;